.operation-detail-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
  flex-grow: 1;
}

.operation-detail {
  display: flex;
  align-items: center;
  padding: 10px 0;

  .bordered {
    border-bottom: 1px solid #e0e0e0;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-right: 16px;

  }

  .category {
    font-size: 14px;
    color: #999;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    color: #333;
  }

  .description {
    // font-weight: 500;
    color: #333;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;

  }
}