@use 'src/theme/variables';

.operation-detail {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 0;
  width: 100%;

  .operation-detail-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    flex-grow: 1;
    gap: 5px;

    .amount {
      color: variables.$color-warn;
    }
  }

  .logo {
    overflow: hidden;

    margin-right: 16px;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }

  .category {
    font-size: variables.$font-size-sm;
    color: variables.$color-disabled;
  }

  .title {
    font-size: variables.$font-size-main;
    font-weight: 700;
    color: variables.$color-default;
  }

  .description {
    color: variables.$color-default;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.bordered {
  border-bottom: 1px solid variables.$border-color-card-main;
}
