@use 'src/theme/variables';
$safe-area: variables.$safe-area-top;

.page {
  padding: 50px;
  display: flex;
  justify-content: center;

  .form {
    width: 400px;
  }
}
.error-message {
  color: variables.$color-warn;

  text-align: center;
  &.p-40 {
    padding: 40px;
  }
}
