@use 'src/theme/variables';

.card {
  width: 400px;
  background: variables.$background-main;
  border-radius: 8px;
  box-shadow: variables.$main-shadow;
  padding: 20px;
  margin: 10px auto;
  border: 2px solid;
  transition: border-color 0.3s;
  &.hidden {
    border-color: red;
  }
  &.shown {
    border-color: transparent;
  }
}

.card-title {
  margin: 0 0 20px 0;
  font-size: variables.$font-size-xl;
  color: variables.$color-warn;
}
