@use 'src/theme/variables';

.card {
  background: variables.$background-main;
  border-radius: 8px;
  box-shadow: variables.$main-shadow;
  padding: 10px;
  margin: 0 auto;
  border: 2px solid;
  transition: border-color 0.3s;
  height: max-content;
  &.hidden {
    border-color: red;
  }
  &.shown {
    border-color: transparent;
  }
}

.card-title {
  margin: 0 0 20px 0;
  font-size: variables.$font-size-xl;
  color: variables.$color-warn;
}
