:root {
  //backgrounds
  --background-main: #ffffff;
  --background-primary: #2196f3;
  --background-black-40: rgba(0, 0, 0, 0.4);
  --background-icon-color-main: #e0e0e0;

  //shadows
  --main-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  //border colors
  --border-color-card-main: #9c9c9c;

  //text-colors
  --color-default: #2a2929;
  --color-primary: #2196f3;
  --color-warn: #e10050;
  --color-disabled: #9c9c9c;
  --color-main: #ffffff;

  //element color
  --element-warn: #e10050;

  //fonts sizes
  --font-size-main: 18px;
  --font-size-xl: 22px;
  --font-size-m: 16px;
  --font-size-sm: 14px;

  //safe-area
  --safe-area: 66px;
}

//backgrounds
$background-main: var(--background-main);
$modal-background: var(--background-black-40);
$background-primary: var(--background-primary);
$background-icon-color-main: var(--background-icon-color-main);

//shadows
$main-shadow: var(--main-shadow);

//border colors
$border-color-card-main: var(--border-color-card-main);

//text-colors
$color-default: var(--color-default);
$color-primary: var(--color-primary);
$color-warn: var(--color-warn);
$color-disabled: var(--color-disabled);
$color-main: var(--color-main);

//element-colors
$element-warn: var(--element-warn);

//fonts-sizes
$font-size-main: var(--font-size-main);
$font-size-xl: var(--font-size-xl);
$font-size-m: var(--font-size-m);
$font-size-sm: var(--font-size-sm);

//safe area
$safe-area-top: var(--safe-area);
