@use 'src/theme/variables';

.wrapper {
  background-color: variables.$modal-background;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: variables.$color-default;
}

.modal {
  width: 450px;
  background: variables.$background-main;
  border-radius: 4px;
  box-shadow: variables.$main-shadow;
  padding: 16px;
  z-index: 11;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
