@use 'src/theme/variables';

.header {
  background-color: variables.$background-primary;
  padding: 8px 0;
  color: variables.$color-main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: variables.$font-size-xl;
  height: variables.$safe-area-top;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav {
  button {
    font-size: variables.$font-size-m;
  }
}

.logo-block {
  display: flex;
  align-items: center;
  gap: 16px;
}

.login {
  display: flex;
  gap: 10;

  .theme {
    display: flex;
    align-items: center;
    button {
      padding: 5px;
      font-size: variables.$font-size-sm;
    }
    button.icon {
      font-size: variables.$font-size-xl;
    }
  }
}

.links {
  display: flex;
  gap: 5;
  button {
    padding: 5px;
    // font-size: variables.$font-size-sm;
  }
  .active {
    border-bottom: 1px solid variables.$color-link;
  }
}
