@use "src/theme/variables";

.header {
  background-color: variables.$background-primary;
  padding: 8px 16px;
  color: variables.$color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: variables.$font-size-xl;
  height: variables.$safe-area-top;
}

.nav {
  button{
    font-size: variables.$font-size-m;
  }
}

.logo-block{
  display: flex;
  align-items: center;
  gap: 16px;
}