@use 'src/theme/variables';
$safe-area: variables.$safe-area-top;

.add-button {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 30px;

  border: 1px solid variables.$border-color-card-main;
  box-shadow: variables.$main-shadow;
  border-radius: 8px;
}
.error-message {
  color: variables.$color-warn;

  text-align: center;
  &.p-40 {
    padding: 40px;
  }
}
