@use 'src/theme/variables';

.text-button {
  text-transform: uppercase;
  font-size: 14px;
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  &:active {
    transform: translateY(-2px);
  }
}

.default {
  color: variables.$color-default;
}
.primary {
  color: variables.$color-primary;
}
.secondary {
  color: variables.$color-secondary;
}
.disabled {
  color: variables.$color-disabled;
}
.link {
  color: variables.$color-link;
}
