@use 'src/theme/variables';

.text-button {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  &:active {
    transform: translateY(-2px);
  }
}

.default {
  color: variables.$color-default;
}
.primary {
  color: variables.$color-primary;
}
.secondary {
  color: variables.$color-warn;
}
.disabled {
  color: variables.$color-disabled;
}
.link {
  color: variables.$border-color-card-main;
}
.disabled,
.link {
  &:active {
    transform: none;
  }
}
.white {
  color: variables.$color-main;
}
