@use 'src/theme/variables';
$safe-area: variables.$safe-area-top;

.layout {
  position: relative;
}

.safe-area {
  margin-top: calc($safe-area + 16px);
}

.info {
  text-align: center;
  padding: 16px;
  font-size: 24px;
  color: variables.$color-warn;
}
